@let(variant = $props.get('variant') || 'default')
@let(autoDismiss = $props.get('autoDismiss') ?? false)
@inject({ variant, autoDismiss })
@let(classes = ['alert', `alert-${variant}`])

<div {{
  $props
    .except(['variant', 'autoDismiss'])
    .merge({
      role: 'alert',
      class: classes,
      'x-data': `alert({ autoDismiss: ${autoDismiss ? 'true' : 'false'} })`,
      'x-show': 'isVisible',
      'x-cloak': true,
    })
    .toAttrs()
}}>
  {{{ await $slots.main() }}}
</div>
